{% extends "base.html" %}
{% block content %}
{{ super() }}
<div class="container" style="margin-top: 150px; margin-bottom: 50px;">
    <div class="panel panel-default">
        <div class="panel-body">
            <p><h5><i class="bi bi-nut-fill"></i> Настройки таблицы {{ table_name }}</h5></p>
         </div>
    </div>
</div>
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <hr>
            {% if table_config_data %}
                    <table class="table table-bordered">
                        <thead class="thead">
                            <tr>
                                {% for cell in table_config_desc %}
                                    <th scope="col">{{ cell }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            <form method="POST" action="">
                                <tr>
                                        {{ form_config_edit.csrf_token }}
                                        {{ form_config_edit.ID }}
                                        <td>{{ form_config_edit.NSI_TABLE_NAME(class_="form-control") }}</td>
                                        <td>{{ form_config_edit.OID(class_="form-control") }}</td>
                                        <td>{{ form_config_edit.MMDB_TABLE_NAME(class_="form-control") }}</td>
                                        <td>{{ form_config_edit.DICT_NAME(class_="form-control") }}</td>
                                        <td>{{ form_config_edit.COLUMN_MATCHING(class_="form-control") }}</td>
                                        <td>{{ form_config_edit.COLUMN_UPDATE(class_="form-control") }}</td>
                                        <td>{{ form_config_edit.COLUMN_CONVERT(class_="form-control") }}</td>
                                        <td>{{ form_config_edit.COLUMN_EXTRA(class_="form-control") }}</td>
                                        <td><button class="btn btn-outline-success" type="submit" name="action" value="confirm" title="Сохранить"><i class="bi bi-save"></i></button>
                                        <button class="btn btn-outline-danger" type="submit" name="action" value="cancel" title="Отмена"><i class="bi bi-arrow-left-square"></i></button></td>
                                </tr>
                                </form>
                        </tbody>
                    </table>
                {% else %}
                    Конфигурация пуста
                {% endif %}
        </div>
    </div>
</div>
{% endblock %}